{{!-- Created By: Endro --}}
{{!-- Email: endro.mono9@gmail.com --}}
{{!-- Created At: 2024-04-12 --}}

{{page-title "Contact"}}
<Navq></Navq>
<br>
<br>

<div class="row pt-4">
    <div class="col-12 col-md-8 col-lg-4 mx-auto my-4">

        <table align="center">
            <tr>
                <td>
                    <h2>Contact</h2>
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td>:</td>
                <td>Endro</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>:</td>
                <td>endro.mono9@gmail.com</td>
            </tr>
        </table>

    </div>
</div>

{{outlet}}