{{!-- Created By: Endro --}}
{{!-- Email: endro.mono9@gmail.com --}}
{{!-- Created At: 2024-04-12 --}}

{{page-title "Home"}}

<div class="row pt-4">
    <div class="col-12 col-md-8 col-lg-4 mx-auto my-4">
        <div class="rounded-lg overflow-hidden">
            <div class="position-relative overflow-hidden" style="height:300px">
                <img class="d-block position-absolute shadow-lg" width="330"
                    style="left:50%;bottom:10%;border-radius:28px;transform:translateX(-50%)" src="/img/grilled.jpg">
                <div class="w-100 h-100 position-absolute" style="left:0;top:0;z-index:-1">
                    <div class="z-index:-1">
                        <div class="position-absolute bg-primary rounded-circle"
                            style="width:120px;height:120px;left:-30px;top:-10px"></div>
                        <div class="position-absolute bg-primary rounded-circle"
                            style="width:140px;height:140px;right:-30px;bottom:80px"></div>
                        <div class="position-absolute bg-primary rounded-circle"
                            style="width:60px;height:60px;left:20%;bottom:30px"></div>
                    </div>
                    <div class="w-100 h-100 position-absolute bg-secondary" style="z-index:-2"></div>
                </div>
            </div>
            <div class="bg-light px-4 py-2">
                <div class="d-flex justify-content-center py-2 my-2">
                    <div class="text-primary mr-4 d-flex align-items-center"></div>
                    <a href="/customer">
                        <h4 class="mb-0">Grilled Cheese Toastie</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-8 col-lg-4 mx-auto my-4">
        <div class="rounded-lg overflow-hidden">
            <div class="position-relative overflow-hidden" style="height:300px">
                <img class="d-block position-absolute shadow-lg" width="330"
                    style="left:50%;bottom:10%;border-radius:28px;transform:translateX(-50%)" src="/img/roll2.jpg">
                <div class="w-100 h-100 position-absolute" style="left:0;top:0;z-index:-1">
                    <div class="z-index:-1">
                        <div class="position-absolute bg-primary rounded-circle"
                            style="width:120px;height:120px;left:-30px;top:-10px"></div>
                        <div class="position-absolute bg-primary rounded-circle"
                            style="width:140px;height:140px;right:-30px;bottom:80px"></div>
                        <div class="position-absolute bg-primary rounded-circle"
                            style="width:60px;height:60px;left:20%;bottom:30px"></div>
                    </div>
                    <div class="w-100 h-100 position-absolute bg-secondary" style="z-index:-2"></div>
                </div>
            </div>
            <div class="bg-light px-4 py-2">
                <div class="d-flex justify-content-center py-2 my-2">
                    <div class="text-primary mr-4 d-flex align-items-center"></div>
                    <a href="/customer">
                        <h3 class="mb-0">Kaya Swiss Roll</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{{outlet}}