
    <div id="template" class="layout layout-home">
        <div id="header_top" class="layout_block">
            <div class="fixed_content">
                <div id="header_top_address" class="layout_block">
                    <ul>
                        <li>
                            <p class="list1">Now Open!</p>
                        </li>
                        <li>
                            <p><i class="fa fa-fw fa-map-marker" alt="location"></i>Cherry Hill NJ, 08003 US</p>
                        </li>
                        <li>
                            <p><a href="tel:+6282244604125" target="_blank"><i
                                        class="fa fa-fw fa-phone"></i>+628-22-44-604125</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="ficc_header" class="layout_block  on_scroll_fixed">
            <div class="fixed_content">
                <div id="ficc_header_bottom" class="layout_block">
                    <div id="columns" class="layout_block layout_block layout_block tablemain style_columns_3">
                        <div id="columns_1" class="layout_block layout_block table_cell">
                            <div id="ficc_header_logo" class="layout_block">
                                <p><a href="https://www.macntoastie.com/"><img src="assets/img/logo.png"
                                            class="fr-fic fr-dib                               " alt="ROS"></a></p>
                            </div>
                        </div>
                        <div id="column_2" class="layout_block layout_block layout_block">
                            <nav id="ficc_header_navigation"
                                class="layout_block fadein animated theme_nav_light style_nav_dropdown">
                                <ul>
                                    <li><a href="/menu"><span>Menus</span></a></li>
                                    <li><a href="/customer"><span>Login</span></a></li>
                                </ul>
                            </nav>
                            <div id="header_button" class="layout_block">
                                <aside><a class="button"
                                        href="https://foodiehall.menu/pickupdelivery?menu=c1bb7bb1-8b6f-4a58-8566-b180846f4bd6"
                                        target="_blank">Order</a></aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="ficc_responsive_bar" class="layout_block">
            <div class="fixed_content">
                <div id="ficc_responsive_bar_logo" class="layout_block layout_block">
                    <p><a href="https://www.macntoastie.com/"><img
                                src="https://www.macntoastie.com/templates/ficc-theme/images/logo/mac_logo_admin.png"
                                class="template_logo fr-fic  " alt="ROS"></a></p>
                </div>
                <div id="ficc_responsive_bar_open" class="layout_block">
                    <p><i class="fa fa-bars" alt="bars"></i></p>
                </div>
                <div id="ficc_responsive_bar_popup" class="layout_block  style_popup effect_unfold">
                    <div id="ficc_responsive_bar_close" class="layout_block">
                        <p><i class="fa fa-times" alt="times"></i></p>
                    </div>
                    <div id="ficc_responsive_bar_navigation" class="layout_block  style_nav_expandable_list">
                        <ul>
                            <li><a href="https://www.macntoastie.com/hours"><span>Hours</span></a></li>
                            <li><a href="/menu"><span>Menus</span></a></li>
                            <li><a href="https://www.macntoastie.com/press"><span>Press & News</span></a></li>
                            <li><a href="https://www.macntoastie.com/catering"><span>Catering</span></a></li>
                        </ul>
                        <p></p>
                        <aside><a class="button"
                                href="https://foodiehall.menu/pickupdelivery?menu=c1bb7bb1-8b6f-4a58-8566-b180846f4bd6"
                                target="_blank">Order Online</a></aside>
                    </div>
                </div>
            </div>
        </div>
        <div id="fi_top_bar_links" class="layout_block">
            <div class="fixed_content">
                <!--<main><a href="https://www.macntoastie.com/users/registration"><i class="fa fa-user"></i>&nbsp; Register</a>&nbsp; | &nbsp;<a href="https://www.macntoastie.com/users/login"><i class="fa fa-sign-in"></i>&nbsp; Login</a> &nbsp;| &nbsp;</main>-->
                <aside><a class="button"
                        href="https://foodiehall.menu/pickupdelivery?menu=c1bb7bb1-8b6f-4a58-8566-b180846f4bd6"
                        target="_blank">Order Online</a></aside>
            </div>
        </div>
        <div id="ficc_slider" class="layout_block  style_full_content">
            <div class="fixed_content">
                <div class="content_slider_outer slider_main">
                    <div class="content_slider" style="" data-mode="fade" data-timeout="5" data-easing="ease"
                        data-speed="1" data-controls="1" data-pager="1" data-autoplay="1">
                        <div class="content_slider_slides">
                            <div>
                                <div class="content_slider_slide slide_2" data-content-animation="fadeInDown">
                                    <div class="featured_img">
                                        <img src="https://www.macntoastie.com/static/sitefiles/content_slider/content_slider_01.jpg"
                                            title="Slider1" alt="Slider1" class="slide_desktop slide_tablet"
                                            border="0" />
                                        <img src="https://www.macntoastie.com/static/sitefiles/content_slider/content_slider_mob01.jpg"
                                            title="Slider1" alt="Slider1" class="slide_mobile" border="0" />
                                    </div>
                                    <div class="featured_img_overlay">
                                        <div class="slide_desktop slide_tablet slide_mobile">
                                            <table width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td style="vertical-align: middle;">
                                                            <section>
                                                                <h1>Your Grilled Cheese Experts!
                                                                </h1>
                                                                <h3>ROS&#39;s newest
                                                                    and grilled<br>cheese bowl
                                                                    restaurant.</h3><a class="button"
                                                                    href="/menu">View
                                                                    Menu</a>
                                                            </section>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content_slider_pager" style=""></div>
                </div>
            </div>
        </div>
        <div id="about_menu" class="layout_block  style_full_content">
            <div class="fixed_content">
                <div id="columns-1662375557" class="layout_block  style_columns_2">
                    <div id="column1-1635762861" class="layout_block layout_block equalheighter_right">
                        <div id="left_content" class="layout_block">
                            <h3>lets eat.</h3>
                            <h2><span class="orange">Hungry?&nbsp;</span><br>Order one of our many grilled cheese
                                specialties or <a href="https://foodiehall.menu/pickupdelivery?menu=c1bb7bb1-8b6f-4a58-8566-b180846f4bd6">ROS
                                    Cheese bowls</a> now</h2>
                            <p>ROS provides some of the most creative and delicious ROS Cheese Bowls
                                you&#39;ll find anywhere. ROS is our original creamy dish with cream, mozzarella,
                                and cheddar expertly blended in a creamy homemade sauce. The Buffalo includes Crispy
                                Chicken Bites, and Blue Cheese Crumbles while the Truffle takes our original Mac Bowl
                                and adds flavorful Truffle, Parmesan, and Garlic Crumbs.&nbsp;</p>
                            <aside><a class="button" href="/menu">View Menu</a></aside>
                        </div>
                    </div>
                    <div id="column2-1635762877" class="layout_block layout_block equalheighter_left">
                        <div id="right_image" class="layout_block"><img
                                src="/assets/img/digin_image.jpg"
                                class="fr-fic fr-dib           " alt="menu"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="craft" class="layout_block">
            <div class="fixed_content">
                <div id="craft_burgers" class="layout_block">
                    <div id="feautredproducts_header" class="layout_block">
                        <section>
                            <h2>ROS Savory Grilled Cheese</h2>
                            <p>Choose from The Original, loaded with melted Cooper, Cheddar and Gruyere or our most
                                popular Sandwich, The Short Rib featuring a blend of cheeses, Short Rib, Caramelized
                                Onions and Sweet and Spicy May. &nbsp;Grilled Cheese Sandwiches are made on Garlic
                                Butter Grilled Texas Toast. Creamy Pimiento and Tomato and Veggie are delicious options.
                                Don&#39;t forget about our Sweet Sandwiches like The Elvis featuring Peanut Butter,
                                Bacon and Banana or The Fluffernutter which uses Marshmallow Creme, Peanut Butter, and
                                Strawberry Jam.&nbsp;</p>
                            <p>We deliver to Cherry Hill NJ and the surrounding
                                areas. &nbsp;Takeout available too!</p>
                        </section>
                    </div>
                </div>
                <div id="columns_4-1662390701194" class="layout_block  style_columns_4">
                    <div id="column1-1662390702559" class="layout_block layout_block">
                        <p><img src="/assets/img/mac_disp_img01.jpg"
                                class="fr-fic fr-dib      " alt="Burgers"></p>
                    </div>
                    <div id="column2-1662390702571" class="layout_block layout_block  craft_burgers1">
                        <p><img src="https://www.macntoastie.com/static/sitefiles/images/mac_disp_img02_1.jpg"
                                class="fr-fic fr-dib    " alt="Burgers"></p>
                    </div>
                    <div id="column3" class="layout_block layout_block">
                        <p><img src="https://www.macntoastie.com/static/sitefiles/images/mac_disp_img03_1.jpg"
                                class="fr-fic fr-dib    " alt="Burgers"></p>
                    </div>
                    <div id="column4" class="layout_block layout_block craft_burgers1">
                        <p><img src="https://www.macntoastie.com/static/sitefiles/images/mac_disp_img04.jpg"
                                class="fr-fic fr-dib    " alt="Burgers"></p>
                    </div>
                </div>
                <div id="burger" class="layout_block">
                    <div id="burger_bottom_section" class="layout_block">
                        <section>
                            <h3>We&#39;ve got the grilled cheese sandwiches;<br>you just need to supply the appetite.
                            </h3>
                            <aside><a class="button" href="/menu">View Our Menu</a> <a
                                    class="button"
                                    href="https://foodiehall.menu/pickupdelivery?menu=c1bb7bb1-8b6f-4a58-8566-b180846f4bd6"
                                    target="_blank">Order</a></aside>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="order_today_new" class="layout_block  style_full_content">
            <div class="fixed_content">
                <div id="columns_2-1662904970221" class="layout_block  style_columns_2">
                    <figure class=""
                        style='background-image: url("https://www.macntoastie.com/static/sitefiles/static_blocks/bot_black_bg_img.jpg");'>

                        <div class="order-danicks-content">
                            <div class="order_inner">
                                <h6>Order from ROS today!</h6>
                                <h2>Your grilled cheese will look as good as this one!</h2>
                                <p><a class="button"
                                        href="https://foodiehall.menu/pickupdelivery?menu=c1bb7bb1-8b6f-4a58-8566-b180846f4bd6"
                                        target="_blank">Order now</a></p>
                            </div>
                        </div>

                    </figure>
                    <p></p>
                </div>
            </div>
        </div>
        <div id="as_soon_on" class="layout_block">
            <div class="fixed_content">
                <div id="as_soon_on_logo" class="layout_block layout_block">
                    <h3>As Seen On</h3>
                    <p></p>
                    <div class="sponsors_outer sponsors_asseenon">


                        <div class="clear"></div>

                        <ul class='sponsors_list'>
                            <li>





                                <figure>
                                    <img src="https://gea-rsa.com/gea-rsa/assets/front/uploads/client/62d91a1f662bb.png"
                                        title="Indomaret" border="0" />
                                </figure>



                            </li>
                            <li>





                                <figure>
                                    <img src="https://gea-rsa.com/gea-rsa/assets/front/uploads/client/62d91a055cabe.png"
                                        title="Alfamart" border="0" />
                                </figure>



                            </li>
                            <li>





                                <figure>
                                    <img src="https://gea-rsa.com/gea-rsa/assets/front/uploads/client/62d91e8f40060.png"
                                        title="Yomart" border="0" />
                                </figure>



                            </li>
                            <li>





                                <figure>
                                    <img src="https://gea-rsa.com/gea-rsa/assets/front/uploads/client/62d91a3456a84.png"
                                        title="Lawson" border="0" />
                                </figure>



                            </li>
                        </ul>

                        <div class="clear"></div>

                        <div class="sponsors_pagination">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="craving_new" class="layout_block  style_full_content">
            <div class="fixed_content">
                <div id="craving_content-1662905882981" class="layout_block layout_block">
                    <figure class=""
                        style='background-image: url("https://www.macntoastie.com/static/sitefiles/static_blocks/carving_bg_img.jpg");'>

                        <div class="what-else-content">
                            <h2>What Else Are You Craving?&rdquo;</h2>
                            <p>Ten Restaurants. Unlimited Possibilities.</p>
                        </div>

                    </figure>
                    <p></p>
                </div>
            </div>
        </div>
        <div id="sponsers" class="layout_block  style_full_content">
            <div class="fixed_content">
                <div id="as_soon_on_logo" class="layout_block layout_block">
                    <h3>Awards and Certificates</h3>
                    <p></p>
                    <div class="sponsors_outer sponsors_asseenon">


                        <div class="clear"></div>

                        <ul class="sponsors_list">
                            <li>
                                <figure>
                                    <img src="https://waroengsteakandshake.com/assets/v2/img/top-halal-award.png"
                                        title="halal" border="0">
                                </figure>

                            </li>
                            <li>

                                <figure>
                                    <img src="https://waroengsteakandshake.com/assets/v2/img/logo-top-brand-2022.png"
                                        title="top-brand" border="0">
                                </figure>



                            </li>
                            <li>
                                <figure>
                                    <img src="https://waroengsteakandshake.com/assets/v2/img/lppom.png" title="lppom"
                                        border="0">
                                </figure>
                            </li>
                            <li>
                                <figure>
                                    <img src="https://waroengsteakandshake.com/assets/v2/img/top-digital-pr-2022.png"
                                        title="digital" border="0">
                                </figure>

                            </li>
                        </ul>

                        <div class="clear"></div>

                        <div class="sponsors_pagination">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer_address_section" class="layout_block  style_full_content">
            <div class="fixed_content">
                <div id="footer_address_coloumns" class="layout_block  style_columns_2">
                    <div id="footer_col_map" class="layout_block">
                        <section class="maps"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97937.47135027107!2d-75.15244157857911!3d39.90679633364012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6cb660be23e95%3A0x35db09ecd8adbdc0!2sCherry%20Hill%2C%20New%20Jersey%2C%20Amerika%20Serikat!5e0!3m2!1sid!2sid!4v1714095071546!5m2!1sid!2sid" width="600" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></section>
                    </div>
                    <div id="footer_col_address" class="layout_block">
                        <div id="address_cols" class="layout_block  style_columns_2">
                            <div id="address_col_left" class="layout_block  style_columns_2">
                                <div id="address_content" class="layout_block">
                                    <h5>Find Us</h5>
                                    <ul>
                                        <li>
                                            <p><i class="fa fa-fw fa-map-marker"></i>CHERRY HILL NJ, 08003 US</p>
                                        </li>
                                        <li>
                                            <p><a href="https://goo.gl/maps/A6J5VmcFDDaN2YJb6" target="_blank">Get
                                                    Directions</a></p>
                                        </li>
                                        <li>
                                            <p><i class="fa fa-fw fa-phone"></i><a class="tel" href="tel:+6282244604125"
                                                    target="_blank">+628-22-44-604125</a></p>
                                        </li>
                                    </ul>
                                </div>
                                <div id="hours_content" class="layout_block">
                                    <h5>Hours</h5>
                                    <ul>
                                        <li><span class="txt">9AM - 8PM</span>Tuesday-Thursday</li>
                                        <li><span class="txt">14PM - 9PM</span>Friday</li>
                                        <li><span class="txt">12PM - 9PM</span>Saturday-Sunday</li>
                                        <li><span class="txt">Mondays</span><span class="val">Closed</span></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="ficc_footer" class="layout_block">
            <div class="fixed_content">
                <div id="columns_4" class="layout_block  style_columns_5">
                    <div id="column1" class="layout_block layout_block">
                        <div id="footer_logo" class="layout_block">
                            <figure>
                                <p><a href="https://www.macntoastie.com/"><img src="assets/img/logo.png"
                                            class="fr-fic fr-dib                                  " alt="ROS"></a></p>

                            </figure>
                        </div>
                    </div>
                    <div id="column2-1631710575" class="layout_block layout_block">
                        <div id="quick_links" class="layout_block">
                            <ul>
                                <li><a href="/menu"><span>Menus</span></a></li>
                                <li><a href="/contact"><span>Contact</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="column5" class="layout_block">
                        <div id="footer_social_block" class="layout_block">
                            <div class="header-social">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer_bottom" class="layout_block">
            <div class="fixed_content">
                <div id="columns_2-1631713422280" class="layout_block  style_columns_2">
                    <div id="column1-1631713425143" class="layout_block layout_block">
                        <div id="ficc_footer_copyright" class="layout_block layout_block">
                            <p>&nbsp;&copy; 2024 ROS. <span class="brk-txt">All rights reserved. <br></span></p>
                        </div>
                    </div>
                    <div id="column2" class="layout_block layout_block">
                        <div id="footer_website_by" class="layout_block layout_block">
                            <article>
                                <p>Website by <a href="https://www.linkedin.com/in/endro-mono-10aa64284/"
                                        target="_blank"><img
                                            src="https://media.licdn.com/dms/image/D5603AQF02nYXmN1SIA/profile-displayphoto-shrink_100_100/0/1710402559395?e=1719446400&v=beta&t=oMkI_flnNWhUGIBiXaQTXlZsmcLKqIiMzopjWL9vRf8"
                                            class="fr-fic  " alt="Endro" style="width: 20px;"></a></p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="scroll_to_top" class="layout_block  on_scroll_show">
            <div class="fixed_content">

                <main>
                    <p class="scroller">⬆️</p>
                </main>
            </div>
        </div>
    </div>