<div class="product-details">
    <section>
        <br>
        <h4>{{yield}}</h4>
        <div>
            <img width="12px" src="/assets/svg/star-fill.svg" alt="star">
            <img width="12px" src="/assets/svg/star-fill.svg" alt="star">
            <img width="12px" src="/assets/svg/star-fill.svg" alt="star">
            <img width="12px" src="/assets/svg/star-fill.svg" alt="star">
            <img width="12px" src="/assets/svg/star-half.svg" alt="star">
        </div>
    </section>
    <section>
        <del class="small text-black-50">
            $15.99
        </del>
        <i class="text-danger font-weight-bold ml-2">
            $11.99
        </i>
    </section>
</div>