<a href="https://foodiehall.menu/pickupdelivery?menu=c1bb7bb1-8b6f-4a58-8566-b180846f4bd6" target="_blank" class="product">
    <div class="product-image">
        <img src="/assets/img/mac_disp_img01.jpg" alt="roll2" style="height: 90%;">
    </div>
    <div class="product-details">
    <section>
        <br>
        <h4>{{yield}}</h4>
        <div>
            <img width="12px" src="/assets/svg/star-fill.svg" alt="star">
            <img width="12px" src="/assets/svg/star-fill.svg" alt="star">
            <img width="12px" src="/assets/svg/star-fill.svg" alt="star">
            <img width="12px" src="/assets/svg/star-fill.svg" alt="star">
            <img width="12px" src="/assets/svg/star-half.svg" alt="star">
        </div>
    </section>
    <section>
        <del class="small text-black-50">
            $8.99
        </del>
        <i class="text-danger font-weight-bold ml-2">
            $7.99
        </i>
    </section>
</div>
</a>