<a href="/item/2" class="product">
    <div class="product-image">
        <img src="/assets/img/roll2.jpg" alt="roll2">
    </div>
    <div class="product-details">
    <section>
        <br>
        <h4>{{yield}}</h4>
        <div>
            <img width="12px" src="/assets/svg/star-fill.svg" alt="star">
            <img width="12px" src="/assets/svg/star-fill.svg" alt="star">
            <img width="12px" src="/assets/svg/star-fill.svg" alt="star">
            <img width="12px" src="/assets/svg/star-fill.svg" alt="star">
            <img width="12px" src="/assets/svg/star-half.svg" alt="star">
        </div>
    </section>
    <section>
        <del class="small text-black-50">
            $5.90
        </del>
        <i class="text-danger font-weight-bold ml-2">
            $2.90
        </i>
    </section>
</div>
</a>