<a href="https://foodiehall.menu/pickupdelivery?menu=c1bb7bb1-8b6f-4a58-8566-b180846f4bd6" target="_blank" class="product">
  <Product::Image></Product::Image>
  <Product::Details>{{yield}}</Product::Details>
</a>