{{page-title "Contact"}}

<div class="row pt-4">
    <div class="col-12 col-md-8 col-lg-4 mx-auto my-4">
        
        <table align="center">
            <tr>
                <td><h2>Contact</h2></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>:</td>
                <td>Endro</td>
            </tr>
            <tr>
                <td>Whatsapp</td>
                <td>:</td>
                <td>+62 82244 604125</td>
            </tr>
        </table>

    </div>
</div>
{{outlet}}