{{page-title "Customer"}}

<br><br><br>
<div style="text-align: center;">
    <input type="text" placeholder="username" id="username" style="margin-bottom: 10px;" autofocus /><br>
    <input type="password" placeholder="password" id="password" style="margin-bottom: 10px;" /><br>
    <button>Login</button><br>
    <br>No account? <a href="/signup">
    Create one!
    </a>
</div>

{{outlet}}