{{page-title "SignUp"}}

<br><br><br>
<div style="text-align: center;">
    <input type="text" autofocus placeholder="username" id="username" style="margin-bottom: 10px;" /><br>
    <input type="password" placeholder="password" id="password" style="margin-bottom: 10px;" /><br>
    <input type="password" placeholder="confirm password" id="confirm_password" style="margin-bottom: 10px;" /><br>
    <button>SignUp</button>

</div>